*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    position: center;
    background-size: contain;
    background-color: aqua;
    height: 100px;
}

header img{
    height: 50px;
    margin-top: 40px;
}

ul{
    margin-left: 20px;
}

.paragrafo{
    margin: 30px 0;;
}

#foto1{
    background-image: url("../img/graph.jpg");
    background-size: cover;
    height: 100px;
    width: 200px;
    margin-bottom: 10px;
}
#foto2{
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
}